.linkImg {
    display: flex;
    justify-content: center;
}

.linkImg img {
    max-width: 500px;
}

.main {
    display: flex !important;
    flex-direction: column;
}

.games {
    grid-area: "games";
}