@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');


.linkImg {
    display: flex;
    justify-content: center;
}

.linkImg img {
    max-width: 500px;
}

.main {
    display: flex !important;
    flex-direction: column;
}

.separator {
    position: absolute;
    top: 0;
    height: 3rem;
}

.has-bg-img {
    background-image: url("../assets/bgs/site-bg.webp");
    background-repeat: repeat;
    background-position: top center;
}

.section-divider {
    shape-rendering: geometricPrecision !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    

    clip-path: polygon(0% 101%, 10% 70%, 20% 101%, 30% 70%, 40% 101%, 50% 70%, 60% 101%, 70% 70%, 80% 101%, 90% 70%, 101% 101%);

}

h1{
    font-family: 'Cinzel';
    font-size: 1.6rem;
}

.secondary {
    background: #1E1E1E;
}

.primary{
    background: #cd7f7f;
}