.linkImg {
    display: flex;
    justify-content: center;
}

.linkImg img {
    max-width: 500px;
}

#root {
    display: grid;
    grid-template-areas: 
        "hero"
        "team"
        "services"
        "about"
        "contact"
        "footer";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
    grid-template-columns: 1fr;
}