#btn-panel {
    padding-left: 15rem !important;
    padding-right: 15rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;

    margin: 0rem !important;
    width: 100%;

    padding: 1rem !important;

}

#btn-link {
    height: 100% !important;
    display: block !important;

    padding-top: .5rem;
    padding-bottom: .5rem;

    display: flex;
}