.contact-us-wrapper {
    background-color: #1E1E1E;
}

.contact-us {

    display: grid;
    grid-template-areas:
        "email form"
        ".     form"
        ".     form";

    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;

}

.contact-us-wrapper .headerGroup {
    grid-area: header !important;
    position: relative;
    color: white;
    margin-bottom: 2rem;
}

.contact-us-wrapper form {
    margin: 2rem;
    grid-area: form;
    padding-bottom: 5rem;
}

.contact-us-wrapper label {
    color: white;
}

.form-group {
    margin: 1rem;
}

.email-form,
.subject-form {
    width: 50% !important;
}


.email-information {
    display: flex;
    color: white;
    margin: 2rem;
    align-content: first baseline !important;
}

.email-icon {
    max-height: 75px;
    height: 75px;
}

.olympus-contact-form {
    display: flex;
    flex-direction: column;
}

.olympus-contact-form a {
    align-self: center !important;
}

.email-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* position: absolute; */
}

.swal2-actions .swal2-confirm {
    background-color: #1E1E1E !important;
    color: white !important;
}

.contact-us-wrapper a{
    color: white;
}

.contact-us-wrapper a:hover{
    color: #6e6e6e;
}


@media screen and (max-width: 1200px) {

    .contact-us {
        grid-template-areas: "email"
            "form"
            "form";

        grid-template-columns: 1fr;
        grid-template-rows: 7.5rem auto;

    }

    .olympus-contact-form {
        margin: 0rem !important;
    }

}

@media screen and (max-width: 1200px) {
    .email-wrapper h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 450px) {
    .email-icon {
        visibility: hidden;
        position: absolute;
    }

    .email-information {
        margin: 1rem;
    }

    .contact-us {
        grid-template-rows: 3rem auto;
    }

    .contact-us-wrapper .headerGroup {
        margin-bottom: 1rem;
    }

    .olympus-contact-form a {
        width: 75%;
    }
}