.games {
    position: relative;
    background-color: #1E1E1E;
    color: #FFF;
    width: 100%;
    height: 100%;
    z-index: 2;

    display: grid;
    grid-template-areas: "header header"
        "hero hero"
        "display display";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px auto 1fr;

    grid-area: "games" !important;
}

.game-header {
    position: absolute;
    top: 0;
    padding-top: 50px;
    padding-left: 50px;
}

.game-header h1 {
    font-size: 50px;
    border-bottom: #FFF 3px solid;
    width: 300px;
}

.game-header h3 {
    font-size: 26px;
    position: absolute;
    left: 180px;
    width: 300px;
}

.games-showcase {
    grid-area: display;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit);
}


@media screen and (max-width: 860px) {
    .games-showcase {
        grid-template-columns: repeat(1, 1fr);
    }
}