.headerGroup{
    position: absolute;
    top: 0;
    padding-top: 50px;
    padding-left: 50px;
}

.headerGroup h1{
    font-size: 50px;
    border-bottom: #FFF 3px solid;
    width: 300px;
}

.headerGroup h3{
    display: flex;
    justify-content: end;
    font-size: 26px;
    position: absolute;
    width: 300px;
}


@media screen and (max-width: 500px){
    .headerGroup{
        padding-left: 25px;
        padding-top: 25px;
    }
}