@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.hero {
    background-color: #CD7F7F;
    width: 100%;
    height: 100%;
    display: grid !important;
    grid-template-areas: "cta hero-image"
                        "cta hero-image";
    grid-template-columns: 45% 55%;
    grid-template-rows: 2fr 1fr;

}

.hero #pantheon {
    grid-area: hero-image;
    z-index: 0;
    width: 100%;
}

.hero .footer-logos{
    margin-top: 1rem;
}

.hero .footer-logos * {
    margin-right: .5rem;
    margin-left: .5rem;
    color: white;
}

.hero .hero-text {
    align-self: center;
    text-align: center;

    grid-area: cta;
    color: #FFFFFF;
    font-family: "Cinzel", serif;
    margin-left: 1rem;
    max-height: 100vh;   
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center !important;

}

.hero h2{
    font-size: 1.5rem;
    font-weight: bolder;

    padding-right: 2rem;
    padding-left: 2rem;
}

.hero #c-logo{
    width: 66%;
    padding-bottom: .5rem;
    align-self: center;
}

.hero #btn-link{
    width: 50% !important;
    align-self: center !important;
}

.hero button{
    padding-right: 5rem;
    padding-left: 5rem;
    font-family: "Inter", sans-serif;

    margin-top: 2rem !important;

}

@media screen and (max-width: 1300px){
    .hero .hero-text{
        margin-top: 3rem;
        margin-bottom: 0rem !important;
    }

    .hero h2{
        font-size: 1rem;
    }

    .hero h1{
        font-size: 2rem;
    }

    .hero button{
        margin-top: 25px;
    }
}

@media screen and (max-width: 750px){
    .hero {

        grid-area: hero;
        background-color: #CD7F7F;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: "cta"
                            "hero-image";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .hero .hero-text{
        margin-top: 10rem;
        margin-left: 0rem;
    }
    
}