@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.hero {

    grid-area: hero;
    background-color: #CD7F7F;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "cta hero-image"
                        "cta hero-image";
    grid-template-columns: 45% 55%;
    grid-template-rows: 2fr 1fr;
}

.hero img {
    grid-area: hero-image;
    z-index: 0;
    width: 100%;
    
}

.hero .hero-text {
    align-self: center;
    text-align: center;
    grid-area: cta;
    color: #FFFFFF;
    font-family: "Cinzel", serif;
    margin-left: 1rem;
    max-height: 100vh;   
    z-index: 1; 
}

.hero h2{
    font-size: 1.5rem;
    font-weight: bolder;
}

.hero h1{
    font-size: 3rem;
    font-weight: bolder;
}

.hero button{
    padding: .75rem;
    padding-right: 5rem;
    padding-left: 5rem;
    margin-top: 75px;
    font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1300px){
    .hero .hero-text{
        margin-top: 3rem;
        margin-bottom: 0rem !important;
    }

    .hero h2{
        font-size: 1rem;
    }

    .hero h1{
        font-size: 2rem;
    }

    .hero button{
        margin-top: 25px;
    }
}

@media screen and (max-width: 750px){
    .hero {

        grid-area: hero;
        background-color: #CD7F7F;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: "cta"
                            "hero-image";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .hero .hero-text{
        margin-top: 10rem;
        margin-left: 0rem;
    }
    
}