.highlighted {
    background-color: rgb(59, 59, 59);
    transition: none !important;
}

.nav-link {
    border-radius: 50px;
    text-align: center;
    padding-left:  0 !important;
    padding-right:  0 !important;
}