@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.panel {
    margin: 0rem !important;
    background-color: #d9d9d9;
    color: black;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 12px 12px 0px #a0a0a0;
    margin: 3rem !important;
    margin-top: 1rem !important;
    margin-bottom: 3rem !important;

}

.panel-body {
    display: grid;
    grid-template-areas: "img img"
        "name name"
        "desc desc"
        "btn .";

    grid-template-columns: auto;
    grid-template-rows: 35vw auto;
}

.panel img {
    padding: .5rem;

    grid-area: img;

    justify-self: center;
    height: 100%;
    width: 100%;
    background-color: #1E1E1E;
    padding: 1rem;
}

.panel-info {
    margin-top: 0.5rem;
    grid-area: name;
    font-family: "Cinzel", serif;

    display: flex;
    max-width: 100%;
}

.panel .btn{
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: .33vw;
    padding-bottom: .33vw;
}

.panel-title{
    font-size: 1.5rem !important;
}

.panel-dates {
    font-family: "Cinzel", serif;
    font-size: 1rem;
    color: #9e0000;
    align-self: center;
    padding-left: 0.5rem;
}

.panel-desc{
    grid-area: desc;
    font-size: 1rem;
    max-width: 100% !important;
    word-break: break-all;
    white-space: normal;
    padding: 0.5rem;
    padding-left: 0rem;
}

#hero {
    grid-area: hero;
    width: 80%;
    justify-self: center;
}

#display{
    max-width: 800px;
    width: 80%;
    justify-self: center;
}

#display img{
    max-width: 100;
}

#display .panel-body{
    grid-template-rows: auto !important;
}

