.profiles {
    background-color: #CD7F7F;
    position: relative;
    color: #FFF;
    width: 100%;
    height: 100%;

    display: grid;
    padding-top: 8%;

}

.team-showcase {


    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    min-width: 100% !important;
}

.team-showcase .panel{
    max-width: 300px !important;
    justify-content: center;
    
    white-space: pre-wrap;
    word-break: break-word;
    
    padding-bottom: 1rem !important;

}

.team-showcase .panel .panel-title{
    font-size: 1.2rem !important;

    margin: 0rem !important;
    padding: 0rem !important;
}

.team-showcase .panel .panel-desc{
    padding-top: .2rem;
    color: #9e0000;
}

.team-showcase .panel-dates{
    position: absolute;
}

.team-showcase .panel img{
    height: 200px !important;
    margin: 0rem !important;
    padding: 0rem !important;
    background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1600px){
    .profiles{
        padding-top: 10%;
    }
}


@media screen and (max-width: 1200px){
    .profiles{
        grid-template-rows: 100px auto;
        padding-top: 6%;
    }
}

@media screen and (max-width: 860px) {
    .team-showcase {
        grid-template-columns: repeat(2, 1fr);
    }

    .profiles{
        grid-template-rows: 100px auto;
    }
}

@media screen and (max-width: 600px) {
    .team-showcase .panel .panel-desc{
        text-align: center;
    }

    .profiles{
        grid-template-rows: 150px auto;
        padding-top: 0%;
    }
}