.services {

    display: grid;

    grid-template-columns: repeat(2, 1fr);
}

.services-button {
    justify-self: center;

    display: flex;
    justify-content: center;

}

.services-button a {
    margin-bottom: 3rem;
}


.services-header .headerGroup {
    position: relative;
    margin-bottom: 5rem !important;
    color: white;
}

#services-wrapper {
    background-color: #1E1E1E;
    background-image: url("../assets/bgs/site-bg.webp");
    background-repeat: repeat;
}

@media screen and (max-width: 860px) {
    .services {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center !important;
    }
}