.services {
    background-color: #1E1E1E;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 860px) {
    .services {
        grid-template-columns: repeat(1, 1fr);
    }
}