.services {
    background-color: #1E1E1E;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
}

.services-button{
    justify-self: center;

    background-color: #1E1E1E;

    display: flex;
    justify-content: center;
}

.services-button .btn{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

    margin: 1rem;
}

@media screen and (max-width: 860px) {
    .services {
        grid-template-columns: repeat(1, 1fr);
    }

    .services-button .btn{
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    
        margin: 1rem;
    }
}